:root {
  --pri: #233b67;
  --sec: #62e993;
  --ter: #456fe6;
  --text-white: #fff;
  --btn-bg: blue;
}

$text-md: 1.5rem;
$text-lg: 2rem;
$text-xlg: 2.5rem;
$text-smd: 1.2rem;
$text-xsm: 0.6rem;
$text-sm: 0.8rem;

$primary: #efeff0;
$secondary: #1b1a1f;
$white: #ffffff;
$grey: #9a9ca9;
