/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --pri: #233b67;
  --sec: #62e993;
  --ter: #456fe6;
  --text-white: #fff;
  --btn-bg: blue;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Nunito Sans", sans-serif;
  background-color: #efeff0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

a {
  text-decoration: none;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.btn {
  padding: 1em 2em;
  border-radius: 0.5rem;
  border: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.flex-60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-48 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
  margin: 1%;
}

.flex-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16%;
          flex: 0 1 16%;
}

.justify {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

strong {
  font-weight: 900;
}

@media (min-width: 600px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 900px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 24px;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  font-family: "Bebas Neue", cursive;
  top: 0;
  padding: 0.6rem 0;
  background-color: #efeff0;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.027);
          box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.027);
  z-index: 1000;
}

.header .brand-name {
  font-size: 2rem;
}

.header .brand-name span {
  background-color: #850047;
  color: wheat;
  padding: 0.4rem 1rem;
  border-radius: 20%;
}

.header a {
  color: #1b1a1f;
}

.header nav,
.header #toggle {
  display: none;
}

.header .grid {
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  justify-items: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .grid label {
  -ms-grid-column-align: end;
      justify-self: end;
  font-size: 1.5rem;
}

.header #toggle:checked ~ nav {
  padding: 1rem 0;
  background-color: #efeff0;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  position: absolute;
  top: 100%;
  justify-items: center;
  left: 0;
}

.header #toggle:checked ~ nav ul {
  text-align: center;
}

.header #toggle:checked ~ nav li {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.header button {
  text-transform: uppercase;
  background-color: #850047;
}

.header button a {
  color: #ffffff;
}

@media (min-width: 600px) {
  .header nav {
    display: block;
  }
  .header nav ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    gap: 2rem;
  }
  .header nav li {
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
  }
  .header nav li:hover {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  .header label {
    display: none;
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("..//../public/Images/martin-sanchez-G78c3DPmD_A-unsplash.jpg") no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}

.home .max-width {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4rem;
}

.home .max-width .row {
  margin-right: 0;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .home-content .text-2 span {
  color: #850047;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: #850047;
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  background: #850047;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid #850047;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  color: #850047;
  background: none;
}

.about {
  padding: 1rem 0;
  margin-bottom: 2rem;
}

.about h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.about p {
  font-size: 1.6rem;
}

.skill-page {
  background-color: black;
  padding: 2rem 0;
}

.skill-page h1 {
  color: #850047;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.skill-page h3 {
  color: aqua;
  font-size: 1.6rem;
  padding: 1.2rem 0;
}

.skills-card {
  padding: 0.7rem;
  margin-right: 2rem;
  background-color: #979494;
  overflow: hidden;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.skills-card:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.skills-card:hover .skills-card__name {
  color: aqua;
}

.skills-card .skills-card__img-div {
  height: 4rem;
  max-width: 4rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  overflow: hidden;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.skills-card .skills-card__img-div:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

.skills-card .skills-card__img-div img {
  height: 100%;
  width: 100%;
}

.skills-card .skills-card__name-div {
  text-align: center;
}

.skills-card .skills-card__name {
  font-size: 1rem;
  font-weight: 700;
  color: black;
}

/* contact section styling */
.contact {
  background: url("../../public/Images/martin-sanchez-G78c3DPmD_A-unsplash.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 2rem;
}

.contact h2 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  padding: 1.4rem 0;
}

.contact .title::before {
  background: #fff;
}

.contact .contact-content .column {
  width: calc(50% - 30px);
}

.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .left p {
  text-align: justify;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .contact-content .row .fas {
  font-size: 25px;
  color: #850047;
}

.contact .contact-content .info .head {
  font-weight: 500;
  color: wheat;
}

.contact .contact-content .info .sub-title {
  color: #333;
}

h4 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
  font-weight: 700;
  color: #850047;
}

.blog-container {
  margin-bottom: 3rem;
}

.card-blog {
  background-color: #d5c6c6;
  padding: 0.8rem;
}

.blog-card {
  position: relative;
  overflow: hidden;
}

.blog-card .posted-on {
  position: absolute;
  top: 30px;
  right: -50px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  padding: 0.2rem 3rem;
  background-color: rgba(202, 193, 193, 0.1);
  color: white;
  font-size: 0.8rem;
}

.blog-card .blog-card__img-div {
  height: 8rem;
  max-width: 95%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

.blog-card .blog-card__img-div img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-card a {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.301);
  padding: 0.25rem 0.5rem;
  border-radius: 12px;
}

.blog-card a:hover {
  background-color: rgba(255, 255, 255, 0.692);
  color: black;
}

@media all and (max-width: 768px) {
  .media-flex-48 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 0.7rem;
  }
}

/* footer section styling */
footer {
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}

footer span a {
  color: #850047;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */